/* Reset */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Utils */

.container {
  width: 600px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.container-sm {
  width: 450px;
  max-width: 100%;
  padding: 0 10px;
  margin: 0 auto;
}

.col-20 {
  width: 20%;
}

.col-25 {
  width: 25%;
}

.col-40 {
  width: 40%;
}

.col-60 {
  width: 60%;
}

.col-100 {
  width: 100%;
}

.dashed-border {
  border: 1px dashed black;
}

.padding {
  padding: 5px 10px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.height-200 {
  height: 200px;
}

.height-300 {
  height: 300px;
}

.height-400 {
  height: 400px;
}

/* Palette */

.bg-orange {
  background-color: #d6a421;
}

.bg-blue {
  background-color: #010088;
}

.bg-pink {
  background-color: #ec81eb;
}

.bg-lightblue {
  background-color: #1e8ff7;
}

.bg-lightpink {
  background-color: #f9bfcb;
}

.bg-gray {
  background-color: #d2d2d2;
}

.bg-green {
  background-color: #228822;
}

.bg-salmon {
  background-color: #ee8081;
}

.bg-aqua {
  background-color: #1fafa6;
}

.bg-lightaqua {
  background-color: #7efcd2;
}

.bg-darkgray {
  background-color: #222629;
}

/* Header */

.page-header {
  background-color: #acd6e4;
  padding: 10px 0;
}

li {
  display: inline-block;
}

.links {
  text-align: center;
}

.login {
  text-align: right;
}

/* Main */

.section-spacing {
  padding: 20px 0;
}

/* Footer */

.page-footer {
  padding-top: 10px;
}

div.row.bg-lightaqua {
  padding: 20px 0;
}

div.col-60.bg-aqua.dashed-border {
  display: flex;
}

footer > div > div > div div {
  border: 1px dashed white;
  height: 298px;
}

.divider {
  border: 1px solid white;
  margin: 15px 0;
  border-radius: 5px;
}
